---
export let src = "";
export let title = "PDF Document";
export let width = "100%";
export let height = "600";
---

<figure style="margin: 2rem 0;">
  <iframe
    src={src}
    title={title}
    width={width}
    height={height}
    style="border: none;"
    loading="lazy"
    allowfullscreen
  ></iframe>
  <figcaption style="text-align: center; font-size: 0.95em; margin-top: 0.5em;">
    <a href={src} download>Download PDF</a>
  </figcaption>
</figure>
